body {
	background-color: #0066cc;
}

aside {
	background-color: #0066cc;
	width: 100%;
}

main {
	background-color: #0066cc;
	width: 100%;
}

img {
	width: 100%;
}

header {
	height: 50px;
	background-color: #0066cc;
}

h2 {
	color: #eee;
	text-shadow: 2px 1px 0px rgba(148, 150, 150, 0.59);
}

p {
	color: #eee;
	font-size: 120%;
	text-shadow: 2px 1px 0px rgba(148, 150, 150, 0.59);
}

.card {
	height: 200px;
	width: 150px;
	background-color: #eee;
	border: black 5px solid;
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;

}

@-webkit-keyframes rainbow {
 	0% {
 		border-color: hsl(0, 100%, 50%);
 	}
 	25% {
 		border-color: hsl(90, 100%, 50%);
 	}
 	50% {
 		border-color: hsl(180, 100%, 50%);
 	}
 	75% {
 		border-color: hsl(270, 100%, 50%);
 	}
	100% {
		border-color: hsl(360, 100%, 50%);
	}
}

.card:hover {
	border: 5px solid hsl(0, 100%, 50%);
  	-webkit-animation: rainbow .3s infinite;
}

#addCards {
	height: 50px;
	border: none;
	color: black;
}

#addCards:focus {
	outline: none;
}

.card span {
	padding: 5px;
	font-size: 50px;
	line-height: 5%;
	text-shadow: 2px 1px 0px rgba(148, 150, 150, 0.59);
}

.mid {
	height: 20px;
}

.col-xs-2 {
	margin: .5em;
}

.selected {
	background-color: #ff99ff;
}

#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:1510px;
}

.poof {
	content:url(cloud.png);
}