body {
	background-color: #0066cc;
}

aside {
	background-color: #0066cc;
	height: 100%;
}

main {
	background-color: #0066cc;
	height: 100%;
}

img {
	width: 80%;
}

header {
	height: 50px;
	background-color: #0066cc;
}

h2 {
	color: #eee;
	text-shadow: 2px 1px 0px rgba(148, 150, 150, 0.59);
}

p {
	color: #eee;
	font-size: 18px;
	text-shadow: 2px 1px 0px rgba(148, 150, 150, 0.59);
}

/*.score-board {
	background-color: purple;
	color: #eee;
	border: 5px dotted black;
	height: 300px;
	font-size: 30px;
	text-align: center;
	padding-top: 10px;
	font-weight: bold;
}*/

.card {
	height: 200px;
	width: 15%;
	background-color: #eee;
	border: black 5px solid;
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;

}

.card span {
	padding: 5px;
	font-size: 50px;
	line-height: 5%;
	text-shadow: 2px 1px 0px rgba(148, 150, 150, 0.59);
}

.mid {
	height: 20px;
}

.col-md-2 {
	margin: .5em;
}

.selected {
	border: orange 10px solid;
}
